@charset "utf-8";

/*header*/
#header{position: relative;}
	#header.main{height: 1950px;}
	#header-top{
		width: 1260px;height: 50px;
		position: absolute;left: 50%;top: 30px;
		transform:translate(-50%);z-index: 1;
	}
	#header-top h1{float: left;line-height: 50px;padding-left:10px;}
	#header-top h1 a{color:#fff;}
	#header-top #main-menu{float: right;}
	#main-menu>ul>li{float: left;}
	#main-menu a{
		display: block;
		color:#fff;font-weight: bold;
		line-height: 50px;padding: 0 30px;
	}
	#main-menu a:after{
		content:"";display: block;
		width: 0;height: 2px;background: red;
		margin: 0 auto;transition:.3s;
	}
	#main-menu a:hover:after{width: 100%;}

	#header-top .toggle-menu{display: none;}

	/*visual-slider*/
	.sliderWrap li{height: 1005px;}
	.sliderWrap li.first{
		background: url(../images2/mainimg01.jpg) no-repeat center;
		background-size:cover;
	}
	.sliderWrap li.second{
		background: url(../images2/mainimg02.jpg) no-repeat center;
		background-size:cover;
	}
	.sliderWrap .slider-txt{
		width: 700px; color:#fff;
		text-align: center;
		position: absolute;left: 50%;top: 30%;
		transform:translateX(-50%);
	}
	.sliderWrap .slider-txt h3{font-size:3.5em;text-shadow:0 0 10px #000}
	.sliderWrap .slider-txt h3:after{
		content:"";display: block;
		width: 300px;height: 1px;background: #fff;
		margin: 20px auto;
	}
	/*bxslider*/
	.sliderWrap .bx-wrapper{
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 0 none;
    margin-bottom:0;
	}
	.sliderWrap .bx-wrapper .bx-pager{
    position: absolute;
    bottom: 350px;
    width: 100%;
	}

/*content*/
#header .content{
	width: 1260px;height: 1260px; background: #fff;
	position: absolute;left: 50%;bottom: 0;
	transform:translateX(-50%);
}
	.content>ul>li{float: left;width: 25%;height: 315px;border: 1px solid #777;}
	.content>ul>li:nth-child(2n){background:skyblue;}