@charset "uft-8";

.blind, legend{
	display: block;
	position: absolute;left: 0;top: -9999px;
}
fieldset{
	border: 1px solid #dadada;background:#fff;
	margin-bottom:10px}

.Wrap{width: 460px;margin: 0 auto;}
#header{padding:80px 0;}
#header h1{
 width: 340px; height: 110px; margin: 0 auto;
 background: url(../images/melon_join.png) no-repeat -86px -88px;
}
#header a{
	display: block;line-height: 110;
	text-indent:-9999px;
}

.content fieldset .field{
	border-bottom: 1px solid #f0f0f0;
	position: relative;
}
.content fieldset .field .inp-field{
	width: 350px;height: 49px;
	border:0 none;
	font-size:16px;color:#ddd;
	text-indent:20px;
}
.content fieldset .field .icon{
	display: block; width:97px;height: 49px;
	background:url(../images/ico_join3.png) no-repeat;
	position: absolute; right: 20px; top: 0;
	text-indent:-9999px;
}
.content fieldset .field .icon.pw{background-position: 0 -466px;}
.content fieldset .field .icon.pw2{background-position: 0 -515px;}
.content .submit-btn .btn-submit{
	width: 100%; height: 59px;
	border: 1px solid #1fbc02;
	background: #1fbc02 url(../images/btn_join2.gif) no-repeat 50% -3px;
	text-indent:-9999px;
}